<!DOCTYPE html>
<html>

<head>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="flex-head">
    <button class="button-head"><i class="iconh fas fa-sort-alpha-down"></i></button>
    <button class="button-head"><i class="iconh fas fa-bars"></i></button>
    <button class="button-head"><i class="iconh fas fa-bookmark"></i></button>
    <button class="button-head"><i class="iconh fas fa-arrows-alt"></i></button>
  </header>

  <h1>HI</h1>
  <section class="list-container">

  </section>
  <footer class="flex-footer">
    <button class="button-footer"><i class="iconf fas fa-backward"></i></button>
    <button class="button-footer"><i class="iconf fas fa-sync-alt"></i></button>
    <button class="button-footer"><i class="iconf fas fa-home"></i></button>
    <button class="button-footer"><i class="iconf fas fa-forward"></i></button>
  </footer>
  <script src="scripts.js"></script>
</body>

</html>