@import 'header';

body {
  display: grid;
  grid-template-rows: auto, auto, auto;
  height: 100vh;
}

.heady {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-topic {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: white;
  border: 0;
}

.list-container {
  display: grid;
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, 300px);
  }
  grid-template-columns: repeat(auto-fill, 450px);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.hide {
  height: 0;
  overflow: hidden;
}

.content-box {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    width: 290px;
  }
  width: 400px;
  height: 250px;
  overflow-y: scroll;
}

.content-head {
  display: flex;
  height: 25%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1px 20px grey;
}

.content-main {
  overflow-y: scroll;
}

.btn {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: white;
  border: 0;
  margin-right: 10px;
}

@import 'footer';
